#POSTGRESS
POSTGRES_USER=oskar
POSTGRES_PASSWORD=123456789
POSTGRES_DB=heatbot
POSTGRES_PORT=5432
DB_HOST=localhost

#SERVER PORT
SERVER_PORT=3000

#DICTIONARY INSIDE DOCKER
PGDATA=/var/lib/postgresql/data/pgdata

#TIMEZONE
TZ=Europe/Copenhagen
