# POSTGRES
POSTGRES_USER=oskar
POSTGRES_PASSWORD=123456789
POSTGRES_DB=heatbot
POSTGRES_PORT=5432

# SERVER
SERVER_PORT=3000
SERVER_IP=localhost    # Change to your server IP

# TIMEZONE
TZ=Europe/Copenhagen  # Change to your timezone


# SENSOR

BLE_SENSOR_MAC=10:B9:F7:11:62:CF # Change to your sensor MAC address
USE_MOCK_SENSOR=true # Set to "true" to use mock sensor (simulated detection), "false" to use real BLE sensor


# ROBOT
USE_MOCK_ROBOT=true # Set to "true" to use mock robot (no real hardware), "false" to use real robot

